version: '3.8'
networks:
   orbiter-network:
    external: true
    labels:
      - "com.docker.compose.project=maker-client"
services:
  maker-client:
    container_name: "maker-client"
    image: orbiter/maker-client:latest
    labels:
      - "com.docker.compose.project=maker-client"
    build:
      context: ./
      cache_from:
        - orbiter/clients
      dockerfile:  ./apps/maker-client/Dockerfile.clients
    restart: always
    env_file: .env
    environment:
      CONSUL_URL: '${CONSUL_URL}'
      ENV_CHAINS_CONFIG_PATH: '${ENV_CHAINS_CONFIG_PATH}'
      ENV_VAR_PATH: '${ENV_VAR_PATH}'
      ENV_RULES_PATH: '${ENV_RULES_PATH}'
    ports:
      - '8000:8000'
    networks:
      - orbiter-network
    volumes:
      - './runtime:/app/runtime'
      - './logs:/app/logs'
