version: '3.8'
networks:
  app-network:
    driver: bridge
services:
  open-api-server:
    image: orbiter/explore-open-api:latest
    restart: always
    environment:
      CONSUL_HOST: '${CONSUL_HOST}'
      CONSUL_PORT: '${CONSUL_PORT}'
      CONSUL_TOKEN: '${CONSUL_TOKEN}'
    ports:
      - '9003:3000'
    networks:
      - app-network
    volumes:
      - './runtime:/app/runtime'
